* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.login {
  width: 20rem;
  min-height: 25rem;
  margin: 7rem 35rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 0.5rem #979696;
}

.login button {
  margin-top: 1rem;
}

footer {
  margin-top: 1rem;
  background-image: linear-gradient(#eae8e8, #e4e4e4);
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}

.footerlan {
  margin-right: 3rem;
  margin-top: 2rem;
}

footer strong {
  font-size: 1.25rem;
  color: #5b5656;
}

footer a {
  color: #605c5c;
  font-size: 0.7rem;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer ul li {
  margin-top: 1rem;
}
