* {
  margin: 0;
  padding: 0;
  list-style: none;
}

* a {
  color: #0067b8;
}

:root,
[data-bs-theme=light] {
  --bs-border-radius: 0rem;
}

.navbar-brand img {
  margin-left: 5rem;
  width: 50%;
  height: auto;
}

.navbar-text {
  margin-right: 5rem;
}

.navbar-text a {
  text-decoration: none;
  margin-left: 2rem;
}

.navbar-text a:hover {
  text-decoration: underline;
}

.navbar-text a span {
  font-size: 1.5rem;
}

.navbar-text a .icon-xiangxia {
  font-size: 1.25rem;
}

.container {
  display: flex;
  background-color: #f5f3f1;
  width: 100rem;
  padding: 0;
  margin: 0;
  height: auto;
}

.lside {
  padding: 5rem;
  padding-top: 10rem;
  width: 40%;
}

.image {
  width: 95%;
  order: 0;
}

.image img {
  max-width: 100%;
  height: auto;
}

.xq {
  margin-top: 10rem;
}

.intr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: bolder;
}

.zs {
  display: flex;
  justify-content: space-evenly;
  margin-left: 3rem;
  margin-right: 3rem;
}

.zs-card {
  border: none;
  box-shadow: 0 0 0.5rem #acabab;
}

.zs-card .card-body {
  height: 5rem;
}

.hd-card {
  --bs-card-border-width: 0px;
}

.mb-3 {
  --bs-card-border-width: 0px;
  margin-top: 10rem;
  margin-left: 5rem;
  padding: 1rem;
  height: auto;
  min-height: 15rem;
}

.col-md-8 {
  width: 30%;
  border: 3px solid black;
  box-shadow: 0 0 0.5rem black;
}

.col-md-8 .button {
  background-color: #fff;
}

.col-md-4 {
  width: 70%;
  height: auto;
  min-height: 30rem;
}

.col-md-4 img {
  max-width: 100%;
  height: auto;
}

.lj {
  margin-top: 10rem;
}

.lj-card {
  display: flex;
  justify-content: space-evenly;
}

.lj-card .card {
  box-shadow: 0 0 0.5rem #d1d0d0;
}

.lj-card :nth-child(0) {
  border-right: 1px solid black;
}

.jq {
  display: flex;
  justify-content: center;
}

.jq .card {
  border-width: 0px;
  box-shadow: 0 0 0.5rem #d1d0d0;
  margin: 1rem;
}

.yd {
  color: #fff;
  width: 100%;
  background-color: #5d5bd4;
  height: 30rem;
  display: flex;
  margin-top: 7rem;
}

.yd .card-body {
  width: 60%;
  height: 100%;
  padding: 10rem;
}

.yd .card-body h1 {
  margin-bottom: 2rem;
}

.yd .card-body .btn1 {
  background-color: #fff;
  color: black;
  border: 0.1rem solid white;
}

.yd .card-body .btn1:hover {
  background-color: #e3e3e3;
}

.yd .card-body .btn2 {
  background-color: #5d5bd4;
  color: #fff;
  border: 0.1rem solid white;
}

.yd .card-body .btn2:hover {
  background-color: #6c6ad5;
}

.yd-right {
  width: 40%;
  height: auto;
  background-color: #5d5bd4;
  margin-top: 1.5rem;
}

.yd-card {
  width: auto;
  height: 7rem;
  display: flex;
  font-weight: bolder;
  background-color: #5d5bd4;
}

.yd-card .card-icon {
  line-height: 5rem;
}

.yd-card .card-icon span {
  width: 20%;
  font-size: 3rem;
}

.yd-card .card {
  width: 80%;
  height: 5rem;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #5d5bd4;
  border: 0;
  color: #fff;
}

.yd-card .card h3 {
  font-weight: bolder;
  margin-bottom: 0.5rem;
}

.yd-card .card a {
  text-decoration: none;
  color: #fff;
}

.mda {
  width: 100%;
  height: 20rem;
  padding: 5rem;
}

.mda .zhu {
  height: 50%;
  border-bottom: 1px solid black;
}

.mda .meda {
  display: flex;
  padding-top: 5rem;
}

.mda .meda div {
  margin-right: 1rem;
}

.mda .meda p {
  font-size: 1rem;
}

.mda .meda span {
  font-size: 1.5rem;
  color: black;
}

footer {
  margin-top: 1rem;
  background-image: linear-gradient(#eae8e8, #e4e4e4);
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}

.footerlan {
  margin-right: 3rem;
  margin-top: 2rem;
}

footer strong {
  font-size: 1.25rem;
  color: #5b5656;
}

footer a {
  color: #605c5c;
  font-size: 0.7rem;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer ul li {
  margin-top: 1rem;
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1473px;
  }
}
